Importing the dependencies

In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data preprocessing

In [7]:
diabetes_dataset=pd.read_csv("/content/diabetes _svm.csv")

In [8]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
diabetes_dataset.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
#checking for the null values
diabetes_dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [12]:
#Statical data on the datset
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
#Checking for the balanced or unbalanced dataset
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0-->Non_diabetic

1-->Diabetic

Seperating the Target and the feature columns

In [17]:
Features=diabetes_dataset.drop(columns='Outcome',axis=1)
Target=diabetes_dataset['Outcome']

In [18]:
print(Features)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [19]:
print(Target)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Converting the Feature data into the Standardized Form

In [21]:
Scaler=StandardScaler()
Scaler.fit(Features)

StandardScaler()

In [25]:
Standardized_data=Scaler.transform(Features)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [26]:
print(Standardized_data)

[[-0.95180864 -3.7571036  -3.56486115 ... -4.03458073 -0.01022106
  -2.70705751]
 [-1.39275404 -3.81881281 -3.58089709 ... -4.14734019 -2.52764931
  -2.8446161 ]
 [-0.77543048 -3.7228207  -3.58624241 ... -4.20049822  0.40022919
  -2.83737617]
 ...
 [-1.03999772 -3.78355041 -3.56486115 ... -4.15378359 -3.49448769
  -2.85185602]
 [-1.39275404 -3.77865285 -3.59693304 ... -4.09096046 -2.54589154
  -2.72877728]
 [-1.39275404 -3.81097672 -3.57020646 ... -4.08612791 -2.85600951
  -2.9025355 ]]

Converting to the formal notation

In [27]:
X=Standardized_data
Y=diabetes_dataset['Outcome']

Splitting the data for the training and testing

In [28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [30]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Selection of the model

1.Logistic Regression(64% accuracy score)

2.Support Vector Machines

In [32]:
#Training the model(support vector machine.support vector classifier)
Model=svm.SVC(kernel="linear")

In [33]:
Model.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy_Score evaluation

In [37]:
#Accuracy_score on the training data
X_train_prediction=Model.predict(X_train)
accuracy_on_training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [38]:
print(accuracy_on_training_data_accuracy)

0.7117263843648208

In [40]:
#Accuracy Score on the testing data
X_test_prediction=Model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [41]:
print("The test data accuracy",test_data_accuracy)

The test data accuracy 0.7337662337662337

Diabetes Predictive System

In [42]:
input_data=((5,166,72,19,175,25.8,0.587,51))
#converting the input data to the numpy array
input_data_np=np.asarray(input_data)
#Reshaping the array as one row with fitting columns(-1)
input_data_reshaped=input_data_np.reshape(1,-1)

#standardizing the data
input_data_std=Scaler.transform(input_data_reshaped)
print(input_data_std)

#making the prediction
prediction=Model.predict(input_data_std)
print(prediction)
#Generating the output
if prediction==0:
  print("The person is not diabetic")
else:
  print("The person is diabetic")

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"